:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  overflow: hidden;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.button {
  cursor: pointer;
  color: #d0bcff;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tabs {
  display: flex;
  width: 100%;
  line-height: 30px;
}

.tabs li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 10px;
  border-radius: 5px 5px 0 0;
  background: #1c1b1f;
}

.tabs li .close {
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  margin-left: 5px;
  text-align: center;
  border-radius: 50%;
  opacity: 0;
  transition: all 100ms;
}

.tabs li:hover .close {
  opacity: 1;
}

.tabs li .close:hover {
  color: #332d41;
  background: #e6e1e5;
}

.content {
  width: 100%;
  height: calc(100vh - 30px);
}

.welcome {
  padding: 15px;
}

.welcome h4 {
  margin-top: 5px;
  margin-bottom: 20px;
}

.welcome .button {
  margin-top: 10px;
}

svg {
  width: 510px;
  height: 200vh;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
}

line {
  position: relative;
  stroke-width: 2px;
  stroke: #000;
  z-index: 1;
}

path {
  position: relative;
  cursor: pointer;
  transition: all 100ms;
  z-index: 9;
}

path:hover {
  fill: #d0bcff;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ccc2dc;
    background: #4a4458;
  }

  .content,
  svg {
    background: #1c1b1f;
  }

  line {
    stroke: #ccc2dc;
    stroke-width: 1px;
  }

  path {
    fill: #fff;
  }
}
